body {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(0, 0, 29);
    background-image: url("/Pictures/Background.png");
    background-size: cover;
    color: white;
    margin: 0vh;
    padding: 0vh;
    overflow-y: hidden;
}
