body {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(0, 0, 29);
    background-image: url("/CV_Hemsida/Pictures/CV_Background2.png");
    background-size: cover;
    color: white;
    margin: 0vh;
    padding: 0vh;
    overflow-y: hidden;
}
div.home_info {
    width: 65vw;
    height: 55vh;  
    margin: 5vh;  
    margin-left: 5vw;
    position: absolute;

    background-color: #343fce;
    border-bottom: 7px #2e3192 solid;
}
div.pfp {
    background-image: url("/CV_Hemsida/Pictures/pfp2.png");
    background-size: cover;
    width: 20vw;
    height: 40vh;
    margin: 5vh;
    border: solid white 5px;
}
h1.name {
    position: absolute;
    margin-left: 25vw;
    margin-top: -50vh;
    font-size: 7vh;
}
p.info {
    font-size: 2vh;
    width: 37vw;
    position: absolute;
    margin-top: -42vh;
    margin-left: 25vw;
    text-align: left;
}
div#sect_blur {
    background-color: #343fce;
    border-bottom: 7px #2e3192 solid;
    border-radius: 2vh;

    transition-duration: 0.5s;
}
div#sect_blur:hover {
    transform: scale(1.05);
}
div.sections {
    float: right;
    margin-right: 5vw;
}
div.home_sections1 {
    margin-top: 7vh;
    width: 20vw;
    height: 10vh;
    line-height: 10vh;

    cursor: pointer;
}
div.home_categories {
    width: 65vw;
    height: 30vh;

    margin: 65vh 5vh 5vh 7vh;
    position: absolute;

    text-align: center;

    display: table;
}
span.txt1 {
    font-size: 4vh;
    text-align: center;
}
div.social {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(20px);  
    border: 7px #2e3192 solid;   
    
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    display: inline-block;  
    margin-left: 3vw;
    cursor: pointer;

    position: relative;

    font-size: 700%;

    transition-duration: 0.5s;
}
div.social:hover {
    transform: scale(1.05);
}
i#social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 2px black;
}