body {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(0, 0, 29);
    background-image: url("/CV_Hemsida/Pictures/CV_Background2.png");
    background-size: cover;
    color: white;
    margin: 0vh;
    padding: 0vh;
    overflow-y: hidden;
}
div.work {
    width: 20vw;
    height: 10vh;

    margin-top: 45vh;
    position: absolute;
    transition-duration: 1s;

    background-color: #343fce;
    border-bottom: 7px #2e3192 solid;
    border-radius: 2vh;
    font-size: 4vh;

    cursor: pointer;
}
div.home_btn {
    position: fixed;
    width: 16vh;
    height: 16vh;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(20px);
    border: 7px #2e3192 solid;

    border-radius: 50%;

    left: 2vh;
    bottom: 2vh;
    z-index: 20;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

div.home_btn .fa-house:before {
    font-size: 400%;
}

p.title {
    margin-top: 3vh;
}
p.txt1 {
    font-size: 2vh;
    width: 18vw;
    margin-left: 1vw;
    text-align: left;
    margin-top: -3vh;
    opacity: 0%;

    overflow-y: scroll;

    transition-duration: 0.5s;
}
div#work1 {
    margin-left: 5vw;
}
div#work2 {
    margin-left: 28vw;
}
div#work3 {
    margin-left: 52vw;
}
div#work4 {
    margin-left: 75vw;
}
::-webkit-scrollbar {
    width: 10px;
    z-index: -200;
}
::-webkit-scrollbar-thumb {
    background: #2e3192;
}

